div.bloc {
	display: block;
	border: 3px solid black;
	float: left;
	width: 350px;
	height: 50px;
	margin: 20px;
	color: white;
	padding-top: 50px;
	padding-bottom: 25px;
	background-color: black;
	text-transform: uppercase;
}

body {
	background-color: orange;
}